.wrapper, .wrapper-child{
    width: 100%;
}

.wrapper-child, .folder-content-show {
    color: orange;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.folder, .folder-file, .file-info {
    display: inline-block;
    width: 11.5%;
    margin-bottom: 5vh;
    cursor: pointer;
}

.folder-info-hide, .folder-content, .openFolder {
    display: none;
}

.folder-content-show {
    display: flex;
    justify-content: space-between;
    width: 30%;
    position: absolute;
}

.openFolder-show {
    display: inline;
}

.folder-content-show li, .add-folder {
    width: 200px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: block;
    text-align: start;
    margin: 10px 0 10px 2vw;
    padding-left: 10px;
    white-space: nowrap;
    cursor: pointer;
}

.add-folder-hide {
    display: none;
}

.add-folder p {
    margin: 0.3em;
}

.folder-content p {
    text-align: justify;
}

form {
   margin-bottom: 60px; 
}

input {
    width: 50vw;
    padding: 10px;
    
}

form button {  
    color: white;
    font-weight: bold;
    background: purple;
    padding: 10px;
}

.input-hide {
    display: none;
}

.input-show {
    display: block;
}


