nav {
    background-color: #110D32;
    padding-left: 20vw;
    height: 7vh;
    color: aliceblue;
    display: flex;
    align-items: center;
}

.icon {
    position: absolute;
    left: 40px;
    display: flex;
    align-items: center;
}

.icon img {
     width: 1.8vw;
     padding-right: 10px;
}