  .sidebar {
    background-color: #110D32;
    height: 93vh;
    width: 12vw;
    color: aliceblue;
    padding: 0 1vw 0 1vw;
    font-family: sans-serif;
    font-size: 0.85em;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 0.5vw;
  }

#rootUl {
    text-align: start;
    margin-left: 0 !important;
}

  .caret {
    cursor: pointer;
    user-select: none; 
  }
  
  .caret::before {
    content: "\25B6";
    color: whitesmoke;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }

  li span {
      margin-bottom: 10px;
      margin-left: 1.5vw;
  }